.git
.github
.env
.env.*
!.env.example
!**/.env.example
**/*.tfvars
!**/*.tfvars.example
**/*.tfstate
**/*.tfstate.*
*.pem
*.key
*.p12
**/id_rsa
**/id_ed25519
.minnow
.temp
scratchpad
todo.md
**/*.duckdb
**/*.parquet
*.test
**/*.test
.DS_Store
.diago
**/.terraform
**/.terraform.lock.hcl
kb/testdata
extensions/v1.5.0/osx_arm64
/minnow
/codeindex/codeindex
